/* @something SECTION */

/* 

    @import 'variables.css';
    You can use this but this but it will download the main css then the variables css
    It prevents files from being downloaded concurently
    With link rel they can be both downloaded concurently

*/
/* :root & html both represents the same things, :root has higher specificity */
/* Using * to select all elements or all children of parrent or one element from all children of one parent */

/* CSS Syntax SECTION */
* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: var(--color-background-main);
}

header {
  width: 50vw;
  margin: auto;
  padding: 25px 10px;
  color: #de411b;
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}

/* CSS Selectors Section */

/* 
Universal selector: *
Element Selector: p / input/ div / button
Class Selector: .className
Id Selector: #id
Attribute Selector: 

[attribute] - selecting for attribute
[attribute=value] - selecting for attribute with value
[attribute=~value] - selecting for attribute containing the word value
[attribute|=value] - selecting for attribute starting with value or equal to value
[attribute^=value] - selecting for attribute starting with value
[attribute$=value] - selecting for attribute ending with value
[attribute*=value] - selecting for attribute containing value as substring

Pseudo Class Selector:
    :link - a
    :visited - a
    :hover - a
    :active - a, button
    :focus - input
    :valid - input
    :invalid - input
    :required - form element
    :optional - form element
    :root 
    :empty
    :first-child, last-child, first-of-type, last-of-type, nth-child, nth-of-type, only-child, only-of-type, not
    :target
        - http://www.example.com/index.html#section2
        <section id="section2>Example</section>

Combinators Selector:
    .class.class - class and class
    .class .class - class withing class
    div p - p inside div
    div>p - p where the parent is a div
    div+p - first p that is placed imedietly after div elements
    div~p select p element that are preceded by a div element
*/

/* Box Model / Box Sizing(content-box/border-box) / Collapsable Margins / Display / Position */

/* Block */

.containers-wrapper {
  margin: auto;
  width: fit-content;
}

/* .container {
  height: 150px;
  width: 150px;
  border: 5px solid #f7cbbb;
  text-align: center;
  display: block;
}

.container.first {
  padding: 45px;
  background-color: #e76f51;
}

.container.second {
  padding: 35px;
  background-color: #de411b;
}

.container.third {
  padding: 25px;
  background-color: #51355a;
} */

/* Inline */

/* .container {
  display: inline;
}

.container.first {
  padding: 45px;
  background-color: #e76f51;
}

.container.second {
  padding: 35px;
  background-color: #de411b;
}

.container.third {
  padding: 25px;
  background-color: #51355a;
} */

/* Inline-block */

/* .container {
  height: 150px;
  width: 150px;
  border: 5px solid #f7cbbb;
  margin: auto;
  text-align: center;
  display: inline-block;
  padding: 30px;
}

.container.first {
  background-color: #e76f51;
}

.container.second {
  background-color: #de411b;
}

.container.third {
  background-color: #51355a;
} */

/* Position */

/* Relative */

/* .container.first {
  height: 150px;
  width: 150px;
  border: 5px solid #f7cbbb;
  text-align: center;
  display: block;
  padding: 45px;
  background-color: #e76f51;
  position: relative;
  left: -10px;
} */

/* Absolute */

/* .containers-wrapper {
  position: relative;
  width: 100%;
  height: 300px;
}

.container.first {
  height: 150px;
  width: 150px;
  border: 5px solid #f7cbbb;
  text-align: center;
  display: block;
  padding: 45px;
  background-color: #e76f51;
  position: absolute;
  left: 0px;
} */

/* Fixed */

/* .container.first {
  height: 150px;
  width: 150px;
  border: 5px solid #f7cbbb;
  text-align: center;
  display: block;
  padding: 45px;
  background-color: #e76f51;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
} */

/* Sticky */

/* .containers-wrapper {
  height: 600px;
}

.container.first {
  height: 150px;
  width: 150px;
  border: 5px solid #f7cbbb;
  text-align: center;
  display: block;
  padding: 45px;
  background-color: #e76f51;
  position: sticky;
  top: 0px;
  left: 0px;
} */

/* Box model */

.card {
  max-width: 300px;
  min-width: 200px;
  background-color: var(--color-accent);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.card-image {
  display: block;
  width: 100%;
}

.card-info {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  box-shadow: inset 0px -125px 70px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.card-button {
  font-size: 1em;
  color: #ffffff;
  padding: 10px 15px;
  background-color: var(--color-accent);
  border-radius: 50px;
  border: none;
  margin: 10px 0px 20px 0px;
}

.card-title {
  color: #ffffff;
  font-size: 1.5em;
}

/* Grid Section */
.movies {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr repeat(3, 1fr);
  place-items: center;
  grid-gap: 50px;
  padding: 50px 25px;
}

/* Media Queries Section */
/*

320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. 

*/

@media screen and (max-width: 1024px) {
  .movies {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .movies {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .movies {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .movies {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .movies {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

/* Pseudo-Classes Section */
.card:hover {
  outline: 2px solid var(--color-accent);
  outline-offset: 3px;
}

.card:nth-child(2n):hover {
  outline: 2px solid #ffffff;
  outline-offset: 0px;
}

.card:last-child:hover {
  outline: 2px solid cadetblue;
  outline-offset: 10px;
}

/* Search Input */

.searchbar {
  width: fit-content;
  margin: auto;
}

#search-input {
  width: 300px;
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 15px;
  color: #000000;
}
input[type='search']::placeholder {
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

#search-input:required {
  border: 2px solid rgb(223, 65, 65);
}

#search-input:focus {
  border: none;
  width: 310px;
}

#search-input:hover {
  width: 310px;
}

#search-input:focus-visible {
  outline: none;
}

#search-input:active {
  outline: 2px solid #ffffff;
}

/* End Message Text Elipsis */

/* .end-message-wrapper {
  width: 220px;
  margin: auto;
  color: #ffffff;
}

.end-message {
  padding: 30px;
  font-size: 2rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */
